<!--<p>login works!</p>-->

<div class="row">
    <div class="col-6 offset-3">

        <h3>Login</h3>



        <div class="form-group row">
            <label class="col-3 form-group-label"> Username:</label>
            <div class="col-9">
                <input type="email" class="form-control" [(ngModel)]="userName" name="userName">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 form-group-label"> Password:</label>
            <div class="col-9">
                <input type="password" class="form-control" [(ngModel)]="password" name="password">
                <div *ngIf="loginError" class="alert alert-danger">
                    Login failed... please try again
                </div>


            </div>
        </div>

        <div class="form-group row">
            <div class="col-9 offset-3">
                <button (click)="validateLogin()" type="submit" class="btn btn-primary">Login</button>
                <span *ngIf="loginSucceed" class="alert alert-success">
                    You've logged in!
                </span>

            </div>
        </div>

    </div> <!-- end form -->
</div> <!-- end row -->