footer{
    background: black;
    color: white;
    height: 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; 
    

}

.footer-display{
    min-height: 300px;

}

